@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif ;
    background-color: whitesmoke;
}

header{
    margin-top: 3.25rem;
    text-align: center;
}

header h1{
    color: #333;  
    font-size: 2em;
    font-weight: 700;
}

#container3D canvas{
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}